# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Віртуальне середовище
venv/
env/
.env

# Файли IDE
.idea/
.vscode/

# Тимчасові файли
*.log
*.tmp
*.bak

# Великі файли моделей
models/
*.gguf
*.bin

# Локальні дані

# Залежності, які завантажуються автоматично
*.whl
*.tar.gz
*.zip

# macOS
.DS_Store

# Інші
*.swp
*.swo